:root{ --primary-color: rgb(131,213,131);}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    height:100vh;
    background: linear-gradient(to right,rgb(255, 123, 184), rgb(106, 176, 255));

}

.card{
    margin: 120px auto;
    width: 300px;
    height:400px;
    background: rgb(94,128,128);
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.card_heart, .card_cart{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 18px;
    cursor: pointer;
}


.card_cart{
    left: unset;
    right: 20px;
}

.card_img{
    overflow: hidden;
    width: 100%;
    height: 280px;
    transition: 0.5s;
    border-radius: 5%;

}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.card_title, .card_price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5;
}

.card_title{
    color: var(--primary-color);
}

.card_size, .card_color{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: none;
}

.card_size span{
    padding: 1px 10px;
    background-image: rgb(220,211,211);
    color: black;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.card_color span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.card_color_green{
    background: green;
}

.card_color_red{
    background-color: red;
}

.card_color_yellow{
    background-color: yellow;
}

.card_action button{
    background: var(--primary-color);
    border: none;
    outline: none;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.25s;
    cursor: pointer;
    margin-left: 20px;
}

.card_action button:hover{
    transform: scale(0.9);
}

.card:hover .card_img{
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card_title{
    transform: translate(-35px, -70px);
}

.card:hover .card_price{
    transform: translate(-117px, -72px);
}

.card_size{
    margin-top: 100px;
    visibility: hidden;
    opacity: 0;
}

.card_size, .card_color, .card_action{
    visibility:hidden;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.1s;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action{
    visibility: visible;
    opacity: 100;
}

.card:hover .card_size{
    margin-top: -60px;
}