/* Reset CSS */
* {
    margin: 10px;
    padding: 20px;
    bottom: 0;

    
}

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Quicksand", sans-serif;
    margin: 0 auto;
    padding: 0 5rem;
    font-family: Arial, sans-serif;
    background-color: #b7bdba;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none; border: none;
    transition: .2s linear;

}
:root{
    --border-color: #fff5;
    --w-image: 500px;
    --calculate: calc(3 / 2);

}

/* Header */
.header {
    background: image();
    color: #cc7373;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 100px;
    height: auto;
}
.navbar .search-form{
    border-radius: 5px;
    position: absolute;
    top: 3CM;
    right: 6%;
    background: #fff;

    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

/* Navigation */
.navbar {
    background-color: #5c4c4c;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.navbar a:hover {
    color: #ffa500; /* Màu khi di chuột qua */
}


/* Section */
.tititle {
    float: left;
    width: 60%;
    position: relative;
    top: -0.4cm;
    
    font-size: 1rem;
}

.tititle:hover {
    color: #161111; /* Thay đổi màu khi di chuột qua */
}

.title1 {
    background-color: #ececec; /* Thay đổi màu sắc */
    position: relative;
    top: 0.4cm;
    font-size: 1rem;
    margin-right: 3cm;
    padding: 10px; /* Thêm padding */
    border-radius: 5px; /* Bo góc */
}

.title2 {
    background-color: #ececec; /* Thay đổi màu sắc */
    position: relative;
    top: 0.8cm;
    margin-right: 3cm;
    padding: 10px; /* Thêm padding */
    border-radius: 5px; /* Bo góc */
}

/* Article */
article {
    float: left;
    width: 60%;
    position: relative;
    
}

.title3 {
    background-color:#ececec; /* Thay đổi màu sắc */
    position: relative;
    top: 0.8cm;
    margin-right: 3cm;
    padding: 10px; /* Thêm padding */
    border-radius: 5px; /* Bo góc */
}
.banner1{
    border-radius: 2rem;
}
/* Aside */
aside {
    float: right;
    width: 30%;
    padding: 15px;
    position: relative;
    top: -9.7cm;
}

.thongtin1,
.thongtin2,
.MXH,
.lienhe {
    background-color: #eaeaea; /* Thay đổi màu sắc */
    float: left;
    position: relative;
    width: 30%;
    left: 2cm;
    border-radius: 10px; /* Bo góc */
}

.thongtin1:hover,
.thongtin2:hover,
.MXH:hover,
.lienhe:hover {
    transform: scale(1.1); /* Hiệu ứng phóng to khi di chuột qua */
    transition: transform 0.3s ease; /* Thêm hiệu ứng transition */
}


.thongtin1 {
    top: -20.5cm;
    text-align: center;
}

.thongtin2 {
    
    top: -19.9cm;
    text-align: center;
}
.MXH a{
    color: #870505;
}
.MXH {
    top: -19.3cm;
    color: rgb(13, 3, 3); /* Thiết lập màu chữ thành đen */
    text-align: center;
}
.MXH:hover {
    color: rgb(220, 152, 33); /* Thiết lập màu chữ thành màu xanh */
    text-decoration: underline; /* Hiện đường gạch chân khi hover */
}
.lienhe {
    top: -18.9cm;
    left:23.5cm;
    text-align: center;
}

/* Footer */
/* Footer */
footer {
    background-color: #453131;
    color: #fff;
    position: absolute; /* Đặt footer ở vị trí cố định trên màn hình */
    bottom: -25cm; /* Đặt footer ở dưới cùng của trang */
    width: 92%; /* Chiều rộng của footer bằng 100% của màn hình */
    padding: 15px;
    text-align: center
}


.carousel{
    margin-top: -5cm;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}
.carousel .list{
    height: 100%;
    position: relative;
}
.carousel .list::before{
    position: absolute;
    width: var(--w-image);
    height: 100%;
    content: '';
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    pointer-events: none;
}
.carousel .list::after{
    position: absolute;
    top: 50px;
    left: 50px;
    content: '';
    background-color: red;
    width: 200px;
    height: 20px;
    z-index: 10;
    pointer-events: none;
    border-radius: 20px  50px 110px  230px;
    filter: blur(150px);
    opacity: .6;
}
.carousel .list .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel .list .item .image{
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}
.carousel .list .item .image img{
    width: 90%;
    margin-bottom: 10px;
    filter: drop-shadow(0 150px 50px #18090955);
}
.carousel .list .item .image figcaption{
    font-family: 'Aboreto';
    font-weight: bold;
    font-size: 1.3em;
    text-align: right;
    margin-bottom: 30px;
    width: 70%;
}
.carousel .list .item .main-content{
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carousel .list .item .main-content .content{
    padding: 40px 20px  20px 30px;
    position: relative;
    top:5cm;
}
.carousel .list .item .main-content .content h2{
    font-size: 2.6rem;
    font-family: 'Aboreto';
}
.carousel .list .item .main-content .content .price{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    margin: 20px 0;
}
.carousel .list .item .main-content .content .addToCard{
    background-color: #4f8b69;
    color: #fff;
    padding: 10px  30px;
    font-family: Poppins;
    font-size: large;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}
.arrows{
    position: absolute;
    bottom: 378px;
    left:2cm;
    width: calc(100% - calc(var(--w-image) * var(--calculate)));
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 50px;
    justify-content: end;
    gap: 10px;
}
.arrows button{
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: #fff;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0;
    box-shadow: 0 10px 40px #5555;
    cursor: pointer;
    transition: 0.5s;
}
.arrows button:hover{
    background-color: #eee5;
}
.carousel .list .item{
    display: none;
}
.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    display: block;
}
.carousel .list .item.active{
    z-index: 2;
}
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    pointer-events: none;
}
.carousel .list .item.active .main-content{
    animation: showContent 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        clip-path: circle(0% at 70% 50%);
    }to{
        clip-path: circle(100% at 70% 50%);
    }
}
.next .item.other_1{
    z-index: 1;
}
.next .item .image img,
.next .item .image figcaption{
    animation: effectNext .5s ease-in-out 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) - var(--w-image)));
    }
}
.next .item.active .image{
    --transform-from: var(--w-image);
}
.next .item.other_1 .image{
    z-index: 3;
    --transform-from: 0px;
    overflow: hidden;
}
.next .item.other_2 .image{
    z-index: 3;
    --transform-from: calc(var(--w-image) * 2);
}
.arrows{
    z-index: 10;
}
/* prev */
.prev .list .item .image img,
.prev .list .item .image figcaption{
    animation: effectPrev 0.5s ease-in-out 1 forwards;
}
@keyframes effectPrev{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) + var(--w-image)));
    }
}
.prev .list .item.active .image{
    --transform-from: calc(var(--w-image) * -1);
    overflow: hidden;
}
.prev .list .item.other_1 .image{
    --transform-from: 0px;
    z-index: 3;
}
.prev .list .item.other_2 .image{
    z-index: 3;
    --transform-from: var(--w-image);
}
.prev .list .item.other_2 .main-content{
    opacity: 0;
}
@media screen and (max-width: 1023px){
    :root{
        --calculate: 1;
        --w-image: 400px; 
    }
    .carousel .list .item .main-content .content h2{
        font-size: 3em;
    }
}
@media screen and (max-width: 767px){
    .carousel .list .item .image{
        width: 100%;
        left: 0;
        justify-content: center;
    }
    .carousel .list .item .image figcaption{
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .carousel .list .item .main-content .content{
        display: none;
    }
    .arrows{
        left: 30%;
        justify-content: center;
    }
}

